<!DOCTYPE html>
<html>
  <head>
    <title>家庭云</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="padding:0;width: 100%;" >
    <div id="commentbox" class="container"></div>
    <script src="/assets/bundle.js"></script>
    <div id="footer" class="container">

      </div>
  </body>
</html>