body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y:auto;
}

a {
  color: #00B7FF;
}

#commentbox {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-y:auto;
}


#commentbox .list-group {
  padding: 0px;
  margin: 0px 0px 80px 0px;
  width: 100%;
  overflow-y:auto;
}

#commentbox .list-group .list-group-item {
  padding: 50px;
  height: 200px;
}

#commentbox .list-group .list-group-item .list-group-item-heading{
  font-size:400%;
}

#commentbox .list-group .list-group-item .list-group-item-text{
  font-size:200%;
  color: #727172;
}

#commentbox .list-group .list-group-item .list-group-item-right{
  font-size:200%;
  float: right;
  position: relative;
  padding-top: 40px;
}